<!DOCTYPE HTML>
<html>
<head>
    <title>MIP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="./static/images/bitbug_favicon.ico" />
    <link href="./static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--  模板样式-->
    <link href="./static/css/style.css" rel='stylesheet' type='text/css' />
    <!-- 自定义样式 -->
    <!--  设置样式-->
    <link href="./static/css/info.css" rel='stylesheet' type='text/css' />
    <!--  原先样式-->
    <link href="./static/css/index.css" rel='stylesheet' type='text/css' />
    <script src="./static/js/JSmol.min.js"></script>
    <script src="./static/js/jquery-1.11.1.min.js"></script>
    <script src="./static/js/highcharts.js"></script>

    <script type="text/javascript" src="./static/js/bootstrap.js"></script>

</head>

<body>
<div id="">
<!-- banner -->

<div class="banner">
    <div class="header">
        <div class="container">
            <div class="logo">
                <h1><a href="#">Materials Information Platform</a></h1>
            </div>

        </div>
    </div>
</div>

<div class="main" id="app">
  <div class="container">
    <div class="col-md-12">
      <div class="elementName">
        <p>Material</p>
        <!-- <h4 v-if="resArr[0].vasp.poscar">{{resArr[0].vasp.poscar.comment}}</h4> -->
        <h4>
          <a v-for="(value, key, index) in elementArr[0]">
            {{value}}<sub>{{numberArr[0][key]}}</sub>
          </a>
        </h4>
      </div>
    </div>
  </div>

  <div class="container" id="pic">
    <div class="col-md-5">
      <h4>Structure</h4>
      <hr>
      <!-- <div class="pic1" id="mydiv" v-pre class="col-md-12">

      </div> -->
      <iframe src="jsmol.html" width="400px" height="440px" frameborder=0 ></iframe>
      <span id="btns" ></span>
    </div>
    <div class="col-md-3">
      <h4>Material Details</h4>
      <hr>
      <div class="rightContent">
          <p>Volume</p>
          <h4 v-if="resArr[0].extract.extract_info.volume">{{resArr[0].extract.extract_info.volume}}&nbsp;<a>A<sup>3</sup></a></h4>
          <hr>

          <p>Desity</p>
          <h5 v-if="resArr[0].extract.extract_info.desity">{{resArr[0].extract.extract_info.desity}}&nbsp;<a>g/cm<sup>3</sup></a></h5>
          <hr>

          <p>Bandgap</p>
          <h4 v-if="resArr[0].extract.extract_info.band_gap">{{resArr[0].extract.extract_info.band_gap.toFixed(5)}}&nbsp;<a>eV</a></h4>
          <hr>
          <p>Energy per atom</p>
          <h4 v-if="resArr[0].extract.extract_info.formation_energy">{{resArr[0].extract.extract_info.formation_energy.toFixed(5)}}&nbsp;<a>eV</a></h4>
          <hr>
          <p>Pointgroup Type</p>
          <h4 v-if="resArr[0].extract.extract_info.point_group_type">{{resArr[0].extract.extract_info.point_group_type}}</h4>


      </div>
    </div>

    <div class="col-md-4">
      <h4>Lattice Parameters</h4>
      <hr>
      <div class="row rightright" >
        <div class="col-md-12">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    computed
                </a>
            </li>
            <li><a href="#ios" data-toggle="tab">basic</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">a</button>
                  <a>{{resArr[0].extract.extract_info.a}}</a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">alpha</button>
                  <a>{{resArr[0].extract.extract_info.alpha}}</a>
                </div>
              </div>
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">b</button>
                  <a>{{resArr[0].extract.extract_info.b}}</a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">beta</button>
                  <a>{{resArr[0].extract.extract_info.beta}}</a>
                </div>
              </div>
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">c</button>
                  <a>{{resArr[0].extract.extract_info.c}}</a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">gamma</button>
                  <a>{{resArr[0].extract.extract_info.gamma}}</a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="ios">
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">a</button>
                  <a>{{resArr[0].basic.a}}</a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">alpha</button>
                  <a>{{resArr[0].basic.alpha}}</a>
                </div>
              </div>
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">b</button>
                  <a>{{resArr[0].basic.b}}</a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">beta</button>
                  <a>{{resArr[0].basic.beta}}</a>
                </div>
              </div>
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">c</button>
                  <a>{{resArr[0].basic.c}}</a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">gamma</button>
                  <a>{{resArr[0].basic.gamma}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <hr>
      <!-- <h4>{{downloadList}}</h4> -->
      <h4>Download</h4>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <!-- <h5>计算输入</h5> -->
            <label class="checkbox-inline">
          		<input type="checkbox" id="inlineCheckbox1" value="d1" v-model="downloadList"><a>Incar</a>
          	</label>
          	<label class="checkbox-inline">
          		<input type="checkbox" id="inlineCheckbox2" value="d2" v-model="downloadList"><a>poscar</a>
          	</label>
            <label class="checkbox-inline">
          		<input type="checkbox" id="inlineCheckbox2" value="d3" v-model="downloadList"><a>k-points</a>
          	</label>
            <br>
            <br>
            <!-- <h5>计算输出</h5>
          	<label class="checkbox-inline">
          		<input type="checkbox" id="inlineCheckbox3" value="option3" v-model="downloadList"><a>static</a>
          	</label>
            <label class="checkbox-inline">
          		<input type="checkbox" id="inlineCheckbox1" value="option4" v-model="downloadList"><a>relax</a>
          	</label> -->

            <button type="button" name="button" class="btn-danger btn-sm" style="margin-top:20px;" @click="downloadFromMongo">download</button>
        </div>
      </div>
    </div>
    </div>
    <hr>

    <div class="container mip-2-leftleft" id="">


      <div class="col-md-12" v-if="picExsitFlag[0]">
        <div class="row">
          <div class="col-md-12">
            <h4>Band Structure</h4>
            <hr>

            <img alt="" style="width:45%;" v-bind:src="figure(1)">
            <img alt="" style="width:45%;" v-bind:src="figure(2)">

          </div>
          <div class="col-md-6">
            <hr>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h4>Site Symmetry</h4>
        <br>
        <ul id="myTab" class="nav nav-tabs">
          <li class="active">
              <a href="#site1" data-toggle="tab">
                  computed
              </a>
          </li>
          <li><a href="#site2" data-toggle="tab">basic</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="site1">
            <table class="table table-hover table-bordered">

              <thead>
                <tr class="active">
                  <th>Index</th>
                  <th>Atom Name</th>
                  <th>Site Symmetry</th>
                  <th>Atomic Coordinates</th>
                </tr>
              </thead>
              <tbody v-for="(value,key) in resArr[0].extract.extract_info.compound_components">
                  <tr v-for="(v,k) in resArr[0].extract.extract_info.compound_components[key].atomic_infos">

                    <!-- <h4>{{value.atom_addition_infos[2]}}</h4> -->
                    <!-- <div class="" v-for="k in value.atom_addition_infos"> -->
                      <!-- <h4>{{value[k]}}</h4> -->
                    <!-- </div> -->
                    <td>{{k}}</td>
                    <td>{{value.element_name}}</td>
                    <td>{{v.site_symmetry}}</td>
                    <td>
                      <a v-for="vk in v.coordinates">{{vk.toFixed(5)}}&nbsp;&nbsp;</a>
                    </td>
                    <!-- <td>{{value.atom_addition_infos[16]}}</td> -->
                  </tr>

              </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="site2">
            <table class="table table-hover table-bordered">

              <thead>
                <tr class="active">
                  <th>Index</th>
                  <th>Atom Name</th>
                  <th>Site Symmetry</th>
                  <th>Atomic Coordinates</th>
                </tr>
              </thead>
              <tbody v-for="(value,key) in resArr[0].basic.compound_components">
                  <tr v-for="(v,k) in resArr[0].basic.compound_components[key].atomic_infos">

                    <!-- <h4>{{value.atom_addition_infos[2]}}</h4> -->
                    <!-- <div class="" v-for="k in value.atom_addition_infos"> -->
                      <!-- <h4>{{value[k]}}</h4> -->
                    <!-- </div> -->
                    <td>{{k}}</td>
                    <td>{{value.element_name}}</td>
                    <td>{{v.site_symmetry}}</td>
                    <td>
                      <a v-for="vk in v.coordinates">{{vk.toFixed(5)}}&nbsp;&nbsp;</a>
                    </td>
                    <!-- <td>{{value.atom_addition_infos[16]}}</td> -->
                  </tr>

              </tbody>
              </table>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
</body>
</html>
<script src="./static/js/vue.js"></script>
<script src="./static/js/util.js"></script>
<script src="./static/js/axios.min.js"></script>
<script src="./static/js/info.js"></script>
