<!DOCTYPE HTML>
<html>
<head>
    <title>MIP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="./static/images/bitbug_favicon.ico" />
    <link href="./static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--  模板样式-->
    <!-- <link href="./static/css/style.css" rel='stylesheet' type='text/css' /> -->
    <!-- 自定义样式 -->
    <!--  设置样式-->
    <!--  原先样式-->
    <link href="./static/css/index.css" rel='stylesheet' type='text/css' />
    <script src="./static/js/JSmol.min.js"></script>
    <script src="./static/js/jquery-1.11.1.min.js"></script>
    <script src="./static/js/highcharts.js"></script>

    <script type="text/javascript" src="./static/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/bluebird/3.5.1/bluebird.min.js"></script>
    <script type="text/javascript" src="./static/js/infoC.js"></script>

    <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js"></script>

    <link href="./static/css/info.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div id="">
<!-- banner -->

<div class="banner">
  <nav class="navbar navbar-default navbar-fixed-top  navbar-inverse ">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://:8083/MIP/login.do">MIP</a>
            </div>

            <!-- 左上角的导航 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav" >
              <li ><a href="http://202.120.121.199:8083/MIP/login.do">Home<span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">account <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">my profile</a></li>
                  <li><a href="http://202.120.121.199:8083/MIP/jobquery.do">my jobs</a></li>
                  <li><a href="#">my server</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">maintain <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">server status</a></li>
                </ul>
              </li>
              <li data-toggle="modal" data-target="#about"><a href="#" >About</a></li>
            </ul>


              <ul class="nav navbar-nav navbar-right">
                <!-- <li data-toggle="modal" v-if="userInfo[0]==-1"><a id="username">Login</a></li> -->
                <!-- <li data-toggle="modal" v-if="userInfo[0]!=-1"><a href="/SpringMVC/logout.do" id="logout">{{userInfo[0]}}&nbsp;:&nbsp;Logout</a></li> -->
              </ul>
            </div>
          </div>
  </nav>
</div>
<hr>
<hr>
<div class="main" id="app">
  <div class="container">
    <div class="col-md-12">
      <div class="elementName">
        <p>Material</p>
        <!-- <h4 v-if="resArr[0].vasp.poscar">{{resArr[0].vasp.poscar.comment}}</h4> -->
        <h4>
          <a v-for="(value, key, index) in elementArr[0]">
            {{value}}<sub>{{numberArr[0][key]}}</sub>
          </a>
        </h4>
      </div>
    </div>
  </div>

  <div class="container" id="pic">
    <div class="col-md-5" v-if="lock">
      <h4>Structure</h4>
      <hr>
      <!-- <div class="pic1" id="mydiv" v-pre class="col-md-12">

      </div> -->
      <iframe src="jsmol.html" width="400px" height="440px" frameborder=0 ></iframe>
      <span id="btns" ></span>
    </div>
    <div class="col-md-3">
      <h4>Material Details</h4>
      <hr>
      <div class="rightContent">
          <p>Volume</p>
          <h4 v-if="resArr[0].extract.extract_info.volume"><a style="float:left;display:block;color:black;">{{resArr[0].extract.extract_info.volume}}</a>&nbsp;
            <!-- <a style="display:block;float:left;margin-left:6px;margin-top:-5px;font-weight:bold;"><p style="line-height:0.6;font-size:4px;margin-left:1px;">o</p><p style="line-height:0.6;">A<sup>3</sup></p></a> -->
            <a>&Aring;<sup>3</sup></a>
          </h4>
          <div id="line"></div>

          <p>Density</p>
          <h4 v-if="resArr[0].extract.extract_info.desity">{{resArr[0].extract.extract_info.desity.toFixed(3)}}&nbsp;<a>g/cm<sup>3</sup></a></h4>
          <div id="line"></div>

          <p v-if="resArr[0].extract.extract_info.band_gap">Bandgap</p>
          <h4 v-if="resArr[0].extract.extract_info.band_gap"><a v-if="resArr[0].extract.extract_info.band_gap>0.03">{{resArr[0].extract.extract_info.band_gap.toFixed(2)}}</a><a v-else>0</a>&nbsp;<a>eV</a></h4>
          <div id="line"></div>

          <p>Energy per atom</p>
          <h4 v-if="resArr[0].extract.extract_info.formation_energy">{{resArr[0].extract.extract_info.formation_energy.toFixed(4)}}&nbsp;<a>eV</a></h4>
          <div id="line" v-if="resArr[0].extract.extract_info.space_group_type"></div>
          <p v-if="resArr[0].extract.extract_info.space_group_type">Space Group</p>
          <h4 v-if="resArr[0].extract.extract_info.space_group_type">{{resArr[0].extract.extract_info.space_group_type}}</h4>


          <div v-if="resArr[0].extract.extract_info.spin_polarization===true|resArr[0].extract.extract_info.spin_polarization===false">
            <div id="line"></div>
            <p>Spin Polarization</p>
            <h4>{{resArr[0].extract.extract_info.spin_polarization}}</h4>
          </div>

          <div v-if="resArr[0].extract.extract_info.magnetic_moment">
            <div id="line"></div>
            <p>Magnetic Moment</p>
            <h4>{{resArr[0].extract.extract_info.magnetic_moment}}&nbsp;<a>&mu;<sub>B</sub></a></h4>
          </div>


          <div v-if="resArr[0].extract.extract_info.ferrum_electronic_phase===true|resArr[0].extract.extract_info.ferrum_electronic_phase===false">
            <div id="line"></div>
            <p>Ferroelectric Phase</p>
            <h4>{{resArr[0].extract.extract_info.ferrum_electronic_phase}}</h4>
          </div>

      </div>
    </div>

    <div class="col-md-4">
      <h4>Lattice Parameters</h4>
      <hr>
      <div class="row rightright" >
        <div class="col-md-12">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    computed
                </a>
            </li>
            <li><a href="#ios" data-toggle="tab">basic</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button" style="display:block;float:left;">a</button>
                  <!-- <span style="display:block;float:left;">
                    <a style="float:left;display:block;">{{resArr[0].extract.extract_info.a.toFixed(3)}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                      <a style="display:block;float:left;margin-left:6px;margin-top:0px;font-weight:bold;"><p style="line-height:0.6;font-size:4px;margin-left:1px;">o</p><p style="line-height:0.6;">A<sup>3</sup></p></a>
                  </span> -->
                  <a>{{resArr[0].extract.extract_info.a.toFixed(3)}}</a>
                  <a>&Aring;<sup>3</sup></a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">&alpha;</button>
                  <a>{{resArr[0].extract.extract_info.alpha}}</a>
                  <a>	&deg;</a>
                </div>
              </div>
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button" style="display:block;float:left;">b</button>
                  <!-- <span style="display:block;float:left;">
                    <a style="float:left;display:block;">{{resArr[0].extract.extract_info.b.toFixed(3)}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                      <a style="display:block;float:left;margin-left:6px;margin-top:0px;font-weight:bold;"><p style="line-height:0.6;font-size:4px;margin-left:1px;">o</p><p style="line-height:0.6;">A<sup>3</sup></p></a>
                  </span> -->
                  <a>{{resArr[0].extract.extract_info.b.toFixed(3)}}</a>
                  <a>&Aring;<sup>3</sup></a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">&beta;</button>
                  <a>{{resArr[0].extract.extract_info.beta}}</a>
                  <a>	&deg;</a>
                </div>
              </div>
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button" style="display:block;float:left;">c</button>
                  <!-- <span style="display:block;float:left;">
                    <a style="float:left;display:block;">{{resArr[0].extract.extract_info.c.toFixed(3)}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                      <a style="display:block;float:left;margin-left:6px;margin-top:0px;font-weight:bold;"><p style="line-height:0.6;font-size:4px;margin-left:1px;">o</p><p style="line-height:0.6;">A<sup>3</sup></p></a>
                  </span> -->
                  <a>{{resArr[0].extract.extract_info.c.toFixed(3)}}</a>
                  <a>&Aring;<sup>3</sup></a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">&gamma;</button>
                  <a>{{resArr[0].extract.extract_info.gamma}}</a>
                  <a>	&deg;</a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="ios">
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">a</button>
                  <!-- <a>{{resArr[0].basic.a}}</a> -->
                  <a>{{resArr[0].basic.a.toFixed(3)}}</a>
                  <a>&Aring;<sup>3</sup></a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">&alpha;</button>
                  <a>{{resArr[0].basic.alpha}}</a>
                  <a>	&deg;</a>
                </div>
              </div>
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">b</button>
                  <!-- <a>{{resArr[0].basic.b}}</a> -->
                  <a>{{resArr[0].basic.b.toFixed(3)}}</a>
                  <a>&Aring;<sup>3</sup></a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">&beta;</button>
                  <a>{{resArr[0].basic.beta}}</a>
                  <a>	&deg;</a>
                </div>
              </div>
              <div class="row mip-rightright">
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">c</button>
                  <!-- <a>{{resArr[0].basic.c}}</a> -->
                  <a>{{resArr[0].basic.c.toFixed(3)}}</a>
                  <a>&Aring;<sup>3</sup></a>
                </div>
                <div class="col-md-6">
                  <button type="button"class="btn btn-primary btn-sm"  name="button">&gamma;</button>
                  <a>{{resArr[0].basic.gamma}}</a>
                  <a>	&deg;</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <hr>
      <!-- Download&nbsp;&nbsp;(SCF) 注释掉了 -->
      <!-- <h4>Download&nbsp;&nbsp;(SCF)</h4>
      <hr>
      <div class="row">
        <div class="col-md-12">
            <label class="checkbox-inline">
          		<input type="checkbox" id="inlineCheckbox1" value="d1" v-model="downloadList"><a>INCAR</a>
          	</label>
          	<label class="checkbox-inline">
          		<input type="checkbox" id="inlineCheckbox2" value="d2" v-model="downloadList"><a>POSCAR</a>
          	</label>
            <label class="checkbox-inline">
          		<input type="checkbox" id="inlineCheckbox2" value="d3" v-model="downloadList"><a>KPOINTS</a>
          	</label>
            <br>
            <br>
            <button type="button" name="button" class="btn-danger btn-sm" style="margin-top:20px;" @click="downloadFromMongo">download</button>
        </div>
      </div> -->
    </div>
    </div>
    <hr>

    <div class="container mip-2-leftleft" v-if="lock">




      <div class="col-md-12" v-if="picExsitFlag[0]">
        <div class="row">
          <div class="col-md-12">
            <h4>Electronic Structure</h4>
            <hr>
            <div class="col-md-6">
              <button type="button" class="btn btn-success btn-sm" name="button" @click="sourceDownload">source files download</button>
              <div class="" style="margin-top:40px;">
                <img alt="" width="95%" v-bind:src="figure(1)">
              </div>
            </div>

            <!-- <img alt="" style="width:45%;" v-bind:src="figure(2)"> -->

            <div class="col-md-6">
              <iframe :src="highchartUrl" width="500px" height="450px" frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″ scrolling=”no” allowtransparency=”yes”></iframe>
            </div>



          </div>
          <div class="col-md-6">
            <hr>
          </div>
        </div>
      </div>



      <h4 v-if="isShowPic[0]">Electrical Transport</h4>
      <hr>
      <div class="col-md-6" v-if="isShowPic[0]">
        <iframe :src="highchartUrl1" width="500px" height="450px" frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″ scrolling=”no” allowtransparency=”yes”></iframe>
      </div>

      <div class="col-md-6" v-if="isShowPic[0]">
        <iframe :src="highchartUrl2" width="500px" height="450px" frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″ scrolling=”no” allowtransparency=”yes”></iframe>
      </div>

      <div class="col-md-6" v-if="isShowPic[0]">
        <iframe :src="highchartUrl3" width="500px" height="450px" frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″ scrolling=”no” allowtransparency=”yes”></iframe>
      </div>

      <div class="col-md-6" v-if="isShowPic[0]">
        <iframe :src="highchartUrl4" width="500px" height="450px" frameborder=”no” border=”0″ marginwidth=”0″ marginheight=”0″ scrolling=”no” allowtransparency=”yes”></iframe>
      </div>

      <!-- <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                  <iframe src="http://202.120.121.199/SpringMVC/page/TPPTypeChart.html?extract_id=5931199df09f7d2951b1f3de"  id="myiframe" scrolling="no" frameborder="0" onload="changeFrameHeight()" width="200px"></iframe>
                </div>

                <div class="col-md-6">
                  <iframe src="http://202.120.121.199/SpringMVC/page/TPNTypeChart.html?extract_id=5931199df09f7d2951b1f3de" width="450px" height="220px"></iframe>

                </div>

                <div class="col-md-6">
                  <iframe src="http://202.120.121.199/SpringMVC/page/PFPTypeChart.html?extract_id=5931199df09f7d2951b1f3de" width="450px" height="220px"></iframe>

                </div>

                <div class="col-md-6">
                  <iframe src="http://202.120.121.199/SpringMVC/page/PFNTypeChart.html?extract_id=5931199df09f7d2951b1f3de" width="450px" height="220px"></iframe>

                </div>
            </div>
      </div> -->

      <div class="col-md-12" style="margin-bottom:20px;padding:10px;border-radius:4px;border:1px solid #E5E9F2" v-if="isShowPic[0]">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
    					<!-- <div class="col-md-3">Type:</div> -->
    					<div class="col-md-12">
                <a>Type:</a>
    						<label class="checkbox-inline" style="margin-left:80px;"><input type="radio"
    							name="optionsRadiosinline" id="p_type" value="p_type"
    							onclick='clickRadio("p_type")' checked>&nbsp;&nbsp;<a>P-Type</a>
    						</label> <label class="checkbox-inline"> <input type="radio"
    							name="optionsRadiosinline" id="n_type" value="n_type"
    							onclick='clickRadio("n_type")'>&nbsp;&nbsp;<a>N-Type</a>
    						</label>
    					</div>
              <hr>


              <div class="col-md-12" style="margin-top:10px;">
                <div class="row">
                  <div class="col-md-3">
                    <a>Temperature:</a>
                    &nbsp;&nbsp;
                  </div>
                  <div class="col-md-3" style="margin-left:10px;">
                    <input class="form-control" id="T" type="text" style="width:100px;">
                  </div>
                  <div class="col-md-2">
                    <a>K</a>
                  </div>
                </div>
              </div>


              <div class="col-md-12" style="margin-top:10px;">
                <div class="row">
                  <div class="col-md-3">
                    <a>Carrier:</a>
                    &nbsp;&nbsp;
                  </div>
                  <div class="col-md-3" style="margin-left:10px;">
                    <input class="form-control" id="carr" type="text" style="width:100px;">
                  </div>
                  <div class="col-md-3">
                    <a>10<sup>20</sup>cm<sup>-3</sup></a>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="margin-top:10px;">
                <div class="row">
                  <div class="col-md-3">
                    <a>Deformation Potential(E_def):</a>
                    &nbsp;&nbsp;
                  </div>
                  <div class="col-md-3" style="margin-left:10px;">
                    <input class="form-control" id="deformation_potential" type="text" style="width:100px;">
                  </div>
                  <div class="col-md-2">
                    <a>eV</a>
                  </div>
                </div>
              </div>

              <div class="col-md-12" style="margin-top:10px;">
                <div class="row">
                  <div class="col-md-3">
                    <a>Elastic Constant(C):</a>
                    &nbsp;&nbsp;
                  </div>
                  <div class="col-md-3" style="margin-left:10px;">
                    <input class="form-control" id="elastic_constant" type="text" style="width:100px;">
                  </div>
                  <div class="col-md-2">
                    <a>GPa</a>
                  </div>

                  <div class="col-md-2 col-md-offset-1">
                    <button class="btn btn-primary " style="float: right"
        							onclick="clickBtn()">Calculate</button>
                  </div>
                </div>
              </div>

    					<div class="col-md-12">

    					</div>
    				</div>
          </div>

          <div class="col-md-6" id="resultDiv"
    				style="float: right;display:none;" >
    				<h1>Result</h1>
            <div class="" style="margin-top:8px;">
              <a >Thermopower : </a> <label id="tp" style="color:black;"></label>&nbsp;&nbsp;<a>uV/K</a>
            </div>

            <div class="" style="margin-top:8px;">
              <a>Power Factor : </a><label id="pf" style="color:black;"></label>&nbsp;&nbsp;<a>1E-4Wm-1K-2</a>
            </div>
            <div class="" style="margin-top:8px;">
              <a class="btn btn-info" id="downloadBtn" target="_blank">Fermi surface （bxsf)</a><br>
              <p style="font-size:15px;">To be visualized by</p>
              <p style="font-size:15px;">xcrysden --bxsf [file].bxsf</p>
            </div>

    			</div>
        </div>

      </div>


      <div class="col-md-12">
        <h4>Site Symmetry</h4>
        <br>
        <ul id="myTab" class="nav nav-tabs">
          <li class="active">
              <a href="#site1" data-toggle="tab">
                  computed
              </a>
          </li>
          <li><a href="#site2" data-toggle="tab">basic</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="site1">
            <table class="table table-hover table-bordered">

              <thead>
                <tr class="active">
                  <th>Index</th>
                  <th>Atom Name</th>
                  <th>Site Symmetry</th>
                  <th>Atomic Coordinates</th>
                </tr>
              </thead>
              <tbody v-for="(value,key) in resArr[0].extract.extract_info.compound_components">
                  <tr v-for="(v,k) in resArr[0].extract.extract_info.compound_components[key].atomic_infos">

                    <!-- <h4>{{value.atom_addition_infos[2]}}</h4> -->
                    <!-- <div class="" v-for="k in value.atom_addition_infos"> -->
                      <!-- <h4>{{value[k]}}</h4> -->
                    <!-- </div> -->
                    <td>{{k}}</td>
                    <td>{{value.element_name}}</td>
                    <td>{{v.site_symmetry}}</td>
                    <td>
                      <a v-for="vk in v.coordinates">{{vk.toFixed(5)}}&nbsp;&nbsp;</a>
                    </td>
                    <!-- <td>{{value.atom_addition_infos[16]}}</td> -->
                  </tr>

              </tbody>
              </table>
          </div>
          <div class="tab-pane fade" id="site2">
            <table class="table table-hover table-bordered">

              <thead>
                <tr class="active">
                  <th>Index</th>
                  <th>Atom Name</th>
                  <th>Site Symmetry</th>
                  <th>Atomic Coordinates</th>
                </tr>
              </thead>
              <tbody v-for="(value,key) in resArr[0].basic.compound_components">
                  <tr v-for="(v,k) in resArr[0].basic.compound_components[key].atomic_infos">

                    <!-- <h4>{{value.atom_addition_infos[2]}}</h4> -->
                    <!-- <div class="" v-for="k in value.atom_addition_infos"> -->
                      <!-- <h4>{{value[k]}}</h4> -->
                    <!-- </div> -->
                    <td>{{k}}</td>
                    <td>{{value.element_name}}</td>
                    <td>{{v.site_symmetry}}</td>
                    <td>
                      <a v-for="vk in v.coordinates">{{vk.toFixed(5)}}&nbsp;&nbsp;</a>
                    </td>
                    <!-- <td>{{value.atom_addition_infos[16]}}</td> -->
                  </tr>

              </tbody>
              </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div style="bottom: 1px; width: 100%; height: 10px; ; text-align: center;">
   <footer style="background: #227ADB;border-color:#518DF5;background-image:-webkit-linear-gradient(-90deg,
  rgba(66, 154, 219, 0),rgba(112, 179, 228, 1));box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);padding-top:10px;color:white;padding-bottom:10px;  ">
    <p style="margin:0 0 0 0">Copyright © 上海大学 All Rights Reserved.</p >
    <p style="margin:0 0 0 0">Contributors:<!-- </p >
    <p style="margin:0 0 0 0"> -->Materials Genome Institute of Shanghai University: Wu Zhang,
     Jiong Yang</p >
    <p style="margin:0 0 0 0">School of Computer Engineering and Science，Shanghai
     University: Wenhao Zhu, Jianyue Ni</p >
   </footer>
 </div>
</body>
</html>
<script src="./static/js/vue.js"></script>
<script src="./static/js/util.js"></script>
<script src="./static/js/axios.min.js"></script>
<script src="./static/js/info.js"></script>
