.elementName{
  margin-top: 10px;
  border: 1px solid #D3DCE6;
  box-shadow: 0 10px 6px -6px #777;
  /*border: 1px solid white;*/
  /*height:20px;*/
  border-bottom: 2px solid #D3DCE6;
  padding: 10px;
}
.elementName p{
  margin-bottom: 10px;
}

#pic{
  margin-top: 20px;
}

.pic1{
  border:1px solid #C0CCDA;
  height:400px;
}

.rightContent{
  border:1px solid #C0CCDA;
  /*height:200px;*/
  padding: 10px;
}

.rightContent p{
  margin-bottom: 5px;
}

.rightContent .tableP{
  float: left;
  display: block;
  /*padding: 8px;*/
}

.rightright{
  border:1px solid #C0CCDA;
  height: 200px;
}

.mip-rightright{
  padding: 4px;
}
.mip-rightright button{
  margin-right: 10px;
}

.mip-rightright a{
  font-size: 15px;
  text-indent: 2px;
}

.mip-2-leftleft{
/*margin-top: 20px;*/
}

#downloadClass{
  margin-top: 100px;
}

#up{
  font-size: 6px;
}

#tagg p{
  line-height: 0.8;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}

body a,.grid_1,plan_1,plan_1.one,plan_1.two,i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

@CHARSET "UTF-8";
/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-image: -webkit-linear-gradient(90deg,#156e9a, #6ec4ef);
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}




/* 顶部菜单的整体背景色 */
.navbar-inverse {
    background:-moz-linear-gradient(0% 100% 90deg, #0436BF, #075DF2) repeat #03d178;
    border-color: #518DF5;
    background-color:#227ADB;
    background-image:-o-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));
    background-image:-moz-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(112,179,228,1)),to(rgba(66,154,219,0)));
    background-image:-webkit-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* LOGO 部分背景色和字体颜色*/
.navbar-inverse .navbar-brand {
    color: #fff;
}

/* LOGO 部分hover时背景色和字体颜色*/
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #eee;
    background-color: transparent;
}

/* 普通菜单项的颜色和背景  */
.navbar-inverse .navbar-nav>li{
	border: 0px;
}

/* 普通菜单项的颜色和背景  */
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

/* 普通菜单项hover时的字体颜色和背景  */
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #ddd;
    background-color: transparent;
}

/* 当前选中菜单项的字体颜色和背景  */
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
    background:-moz-linear-gradient(0% 100% 90deg, #04BF36, #07F25D) repeat #0378d1;
    border-color: #8ADF37;
    background-color:#4ACF00;
    background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0.38),rgba(85,170,0,0.7));
    background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0.38),rgba(85,170,0,0.7));
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,from(rgba(255,255,255,0.38)),to(rgba(85,170,0,0.7)));
    background-image:-webkit-linear-gradient(-90deg,rgba(255,255,255,0.38),rgba(85,170,0,0.7));
}

#myTabContent{
  margin-top: 15px;
}
