.banner{
  background-color: #1D8CE0;
}
#periodic-table{
  /*border: 1px solid black;*/
}

.searchInput{
  margin-bottom: 200px;
}

.sonContent{
  width: 100px;
  height:100px;
}


.elementTable{
  margin-top:30px;
  border:1px solid #20A0FF;
  padding:18px;
  border-radius:10px;
  float: left;
}

.littleInput{
  border:1px solid #E5E9F2;
  border-radius: 0px 5px;
}

.partSelectElement{
  color: white !important;
  background-color: #8968CD !important;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3) !important;
}

#partChooseTable td{
  text-align: center;
}

#partChooseTable td:hover{
  background-color: 	#836FFF;
  color: white;
}

.removeChartList:hover{
  color: red;
}
